#pageTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: 75px;
  display: block;
  margin-top: 45px;
}
#theWrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#holder1{
  padding-top: 60px;
  margin-left:auto;
  margin-right: auto;
  width:50%;
  display: inline-block
}
#holder2{
  padding-top: 30px;
  margin-left:auto;
  margin-right: auto;
  width:50%;
  display: inline-block

}
#holder3{
  padding-top: 30px;
  margin-left:auto;
  margin-right: auto;
  width:50%;
  display: inline-block

}

#imgHolder {
  height: 110px;
  width: 110px;
  border-radius: 100px;
  box-shadow: 0px 0px 55px 1px;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  
}

#imgHolder:hover {
  
  box-shadow: 0px 0px 55px 5px;
  
  
}
#specific_image {
  height: 100%;
  width: 100%;
  border-radius: 100px;
}
#textHolder{
  display: inline;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#contact_link{
  text-decoration: none;
  color:black;
}
